<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <!--<arg name="map_file" default="$(find 2D_Navigation_Stack)/maps/room_ok.yaml"/>-->
  <arg name="map_file" default="$(find 2D_Navigation_Stack)/maps/MK_room.yaml"/>
  <!-- <arg name="map_file" default="$(find 2D_Navigation_Stack)/maps/mymap.yaml"/> -->

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

  <!-- AMCL -->
  <include file="$(find 2D_Navigation_Stack)/launch/amcl.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="link3" args="0 0 0 0 0 0 base_link laser 100" />
  
  <!-- move_base -->  
  <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/2WD_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/2WD_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/2WD_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/2WD_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/2WD_params/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/2WD_params/move_base_params.yaml" command="load" />
  </node> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/4WD_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/4WD_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/4WD_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/4WD_params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/4WD_params/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find 2D_Navigation_Stack)/params/4WD_params/move_base_params.yaml" command="load" />
  </node> 
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find 2D_Navigation_Stack)/rviz/navigation.rviz" />
</launch>