<launch>
  <!-- roslaunch arguments -->
  <arg name="paused" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>

  <arg name="raspicam_mount" default="forward"/>
  <arg name="sonars_installed" default="true"/>
  <arg name="camera_extrinsics_file" default="-"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of 
    the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find 2D_Navigation_Stack)/world/space.world"/>
    <!--<arg name="world_name" value="$(find 2D_Navigation_Stack)/world/turtlebot_playground.world"/> -->
    <!-- <arg name="world_name" value="worlds/empty.world" /> -->
    <arg name="paused" value="$(arg paused)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" />
  </include>

  <!-- <arg name="model" default="$(find 2D_Navigation_Stack)/urdf/mybot.xacro"/> -->
  <!-- <arg name="model" default="$(find 2D_Navigation_Stack)/urdf/2WD_laser.urdf.xacro"/> -->
  <!-- <arg name="model" default="$(find 2D_Navigation_Stack)/urdf/two_wheel_robot.xacro"/> -->
  <arg name="model" default="$(find 2D_Navigation_Stack)/urdf/4WD_laser.urdf.xacro"/> 
  <!-- <arg name="model" default="$(find 2D_Navigation_Stack)/urdf/wheel_robot_base.urdf.xacro"/> -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>

  <!-- Setting gui parameter to true for display joint slider -->
  <param name="use_gui" value="true"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="wheel_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-urdf -param robot_description -model wheel_robot" />

</launch>